---
layout: default
---
<article class="post">
  <script src="http://www.w3schools.com/lib/w3data.js"></script>

  <h1 class="post-title">{{ page.title }}</h1>

  <p class="post-meta">
    <time datetime="{{ page.date | date: "%Y-%m-%d" }}">{{ page.date | date: "%d-%m-%Y" }}</time>

    {% if page.author %}
      &nbsp;/&nbsp;
      <span>{{ page.author }}</span>
    {% endif %}
  </p>

  <div class="post-content">

    {{ content }}

    <script>
      w3IncludeHTML();
    </script>

    {% if page.next.url %}
      <a class="link-to-post" href="{{ page.next.url }}">
        <span class="link-to-post__next">&#10535; &nbsp;Next post</span>
        <span class="link-to-post__title">{{ page.next.title }}</span>
      </a>
    {% endif %}

    {% if page.previous.url %}
      <a class="link-to-post" href="{{ page.previous.url }}">
        <span class="link-to-post__prev">&#10535; &nbsp;Previous post</span>
        <span class="link-to-post__title">{{ page.previous.title }}</span>
      </a>
    {% endif %}

  </div>

</article>
